.login_right {
        width: 50%;
        background-image: url(/assets/juls.jpg);
        background-size: 100% 100%;
}
.login_tagline {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.login_subtitle {
  margin-top: 56px;
  font-weight: 900;
  font-size: 24px;
  color: #4F4F4F;
}

.login_left {
  width: 50%;
  height: 100%;
  background: rgba(242, 201, 76, 0.69);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}