.register_left {
    width: 50%;
    height: 100%;
    background: #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .register_right {
    width: 50%;
    background-image: url(/assets/mentee.jpg);
    background-size: 100% 100%;
  }
  
  .register_tagline {
    font-weight: 900;
    /* font-size: 36px; */
  }
  
  .register_subtitle {
    margin-top: 56px;
    font-weight: 900;
    font-size: 24px;
    color: #4F4F4F;
  }
  .sweet-loading{
    margin: auto !important;
  }
  .re-input{
    padding: .40rem !important;
  }
  .btn-lg{
    margin-left: 5.8rem !important;
  }