.course-list-wrapper {
  margin: 10% auto;
  width: 100%;
}
.accordion{
  width: 60%;
  margin: auto;
}
.acc-wrapper{
  width: 15%;
  float: right;
}
.btn-primary{
 
  /* width: 8% !important; */
  background: #dbdbdb !important;
  color: #4F4F4F !important;
  border-color:  #4F4F4F !important;
}
.acc-card{
  background: #dbdbdb !important;
  text-decoration: none !important;
}

.acc-collapse{
  background: #fff !important;
}
.btn-success{
  background-color: #4F4F4F !important;
}
.acc-header{
  text-decoration: none !important;
  color: #4F4F4F !important;
  font-weight: bolder !important;
  font-size: 1.2rem !important;
}
.acc-card :hover{
  text-decoration: none !important;
}
.subtrack2{
  margin-bottom: 8px;
 display: flex;
 justify-content: space-between;
 align-items: center;
  width: 100%; 
  border: #444 solid 1px; 
  background: #fff; 
  padding: 4px; 
  border: none
}
.subtrack{
  margin-bottom: 8px;
 display: flex;
 justify-content: space-between;
 align-items: center;
  width: 100%; 
  border: #444 solid 1px; 
  background: #dbdbdb; 
  padding: 4px; 
  border: none
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: inherit !important;
  border-bottom: none !important;
}
.btn-lg {
  margin-top: 1.5rem;
  font-size: 0.85rem !important;
  line-height: 1.5;
  border-radius: none !important;
  border-color: #dbdbdb !important;
}